@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .btn {
    @apply uppercase px-5 py-3 text-white font-bold text-center rounded-lg;
  }
  .btn-black {
    @apply btn bg-black;
  }
  .btn-orange {
    @apply btn bg-orange-600;
  }
}
